*{
    margin: 0;
    padding: 0;
}
 img{
    width: 20vw;
    height: 310px;
    background-color: rgb(185, 196, 196);
    margin:5vw;
}

.row{
    width:100vw;
    height:auto;
    display: flex;
}
div .col{
   width: 30vw;
    height:auto;
    /* border: solid 3px rgb(96, 95, 94); */
    background-color: beige;
    margin: auto;
    border-radius: 20px;
    margin-top: 5%;
}
h1{
    color:rgb(42, 50, 165);
    margin: 20px;
    
}
.underline{
    width: 400px;
    height: 3px;
    background-color: azure;
    margin-left: 100px;
    border-radius: 2px;
}